.LOGIN {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.LOGIN .div {
  background-color: #121212;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.LOGIN .overlap {
  position: absolute;
  width: 297px;
  height: 140px;
  top: 249px;
  left: 534px;
}

.LOGIN .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 86px;
  letter-spacing: 0;
  line-height: normal;
}

.LOGIN .text-wrapper-2 {
  position: absolute;
  top: 101px;
  left: 41px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.LOGIN .overlap-group {
  position: absolute;
  width: 160px;
  height: 41px;
  top: 410px;
  left: 524px;
  background-color: #00d2f1;
  border-radius: 15px 0px 0px 15px;
}

.LOGIN .text-wrapper-3 {
  left: 25px;
  color: #000000;
  position: absolute;
  top: 10px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.LOGIN .group {
  position: absolute;
  width: 163px;
  height: 41px;
  top: 410px;
  left: 684px;
}

.LOGIN .overlap-group-2 {
  position: relative;
  width: 161px;
  height: 41px;
  border-radius: 0px 15px 15px 0px;
}

.LOGIN .rectangle {
  position: absolute;
  width: 161px;
  height: 41px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 15px 15px 0px;
}

.LOGIN .text-wrapper-4 {
  position: absolute;
  top: 11px;
  left: 76px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.LOGIN .div-wrapper {
  position: absolute;
  width: 321px;
  height: 36px;
  top: 464px;
  left: 524px;
  background-color: #ffffff;
}

.LOGIN .text-wrapper-5 {
  position: absolute;
  top: 7px;
  left: 25px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #00000073;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.LOGIN .overlap-2 {
  position: absolute;
  width: 321px;
  height: 36px;
  top: 513px;
  left: 524px;
  background-color: #ffffff;
}

.LOGIN .overlap-wrapper {
  position: absolute;
  width: 323px;
  height: 40px;
  top: 562px;
  left: 524px;
}

.LOGIN .overlap-3 {
  position: relative;
  width: 321px;
  height: 40px;
  background-color: #8800ff;
}

.LOGIN .text-wrapper-6 {
  left: 141px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up .div {
  background-color: #121212;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.sign-up .overlap {
  position: absolute;
  width: 297px;
  height: 140px;
  top: 249px;
  left: 534px;
}

.sign-up .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 86px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-wrapper-2 {
  position: absolute;
  top: 101px;
  left: 41px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .overlap-group {
  position: absolute;
  width: 321px;
  height: 41px;
  top: 410px;
  left: 524px;
}

.sign-up .rectangle {
  position: absolute;
  width: 160px;
  height: 41px;
  top: 0;
  left: 161px;
  background-color: #00d2f1;
  border-radius: 15px 0px 0px 15px;
  transform: rotate(-180.00deg);
}

.sign-up .group {
  width: 163px;
  height: 41px;
  top: 0;
  left: 0;
  position: absolute;
}

.sign-up .div-wrapper {
  position: relative;
  width: 161px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 15px 0px 0px 15px;
}

.sign-up .text-wrapper-3 {
  position: absolute;
  top: 11px;
  left: 25px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .text-wrapper-4 {
  left: 236px;
  color: #000000;
  position: absolute;
  top: 10px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .overlap-2 {
  position: absolute;
  width: 321px;
  height: 36px;
  top: 464px;
  left: 524px;
  background-color: #ffffff;
}

.sign-up .text-wrapper-5 {
  position: absolute;
  top: 7px;
  left: 25px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #00000073;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .overlap-3 {
  position: absolute;
  width: 321px;
  height: 36px;
  top: 562px;
  left: 524px;
  background-color: #ffffff;
}

.sign-up .overlap-4 {
  position: absolute;
  width: 321px;
  height: 36px;
  top: 611px;
  left: 524px;
  background-color: #ffffff;
}

.sign-up .overlap-5 {
  position: absolute;
  width: 321px;
  height: 36px;
  top: 513px;
  left: 524px;
  background-color: #ffffff;
}

.sign-up .overlap-wrapper {
  width: 323px;
  height: 40px;
  top: 660px;
  left: 524px;
  position: absolute;
}

.sign-up .overlap-6 {
  position: relative;
  width: 321px;
  height: 40px;
  background-color: #8800ff;
}

.sign-up .text-wrapper-6 {
  left: 131px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
